:root {
  --color-background: 247, 236, 220;
  --color-text: 70, 59, 51;
}

:root,
input,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

html {
  color: rgb(var(--color-text));
  background-color: rgb(var(--color-background));
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  padding: 10px;
  padding-bottom: 7rem;
  user-select: none;
}

/* top controls */
.controls {
  display: flex;
  align-items: center;
  padding: 0.5em;
}

.controls button,
.controls select {
  font-size: 0.75rem;
  border-radius: 0.25rem;
  background: transparent;
  color: inherit;
  padding: 0;
  margin: 0;
  border: 0;
}

.controls select {
  width: auto;
}

.controls select:first-child {
  margin-left: -0.25rem;
  margin-right: auto;
}

.controls button {
  margin-left: auto;
}

.controls select:focus,
.controls button:focus {
  background: rgba(255, 255, 255, 0.25);
  outline: 0;
}

/* score table */

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-variant-numeric: tabular-nums;
}

[data-avatar-input] img {
  width: 1.5rem;
  height: 1.5rem;
}

.avatars img {
  width: 2rem;
  height: 2rem;
}

thead th,
thead td:not([colspan]) {
  padding: 0.5rem 0.375rem;
}

thead th input {
  display: none;
}

th,
td {
  text-align: center;
  white-space: nowrap;
  font-size: 0.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.award {
  display: block;
  margin-top: 0.25rem;
  text-align: center;
}

tbody {
  --height: 2.5rem;
}

tbody td,
tbody th {
  vertical-align: top;
  line-height: var(--height);
}

tbody .presets th,
tbody .presets td {
  line-height: 1.5;
}

tbody td {
  padding: 0;
}

tbody th {
  padding-left: 0.5rem;
}

thead th {
  font-size: 0.75rem;
  font-weight: 700;
}

thead th label {
  display: block;
  position: relative;
  cursor: pointer;
}

th input:checked + label::after {
  position: absolute;
  content: "";
  left: calc(50% - 0.125rem);
  bottom: -0.3125rem;
  display: block;
  width: 0.25rem;
  height: 0.25rem;
  background: rgb(var(--color-text));
  border-radius: 1rem;
}

tr[data-active="true"] th {
  font-weight: 700;
}

tbody th {
  font-weight: normal;
}

/* tfoot th, */
tbody th {
  text-align: left;
}

tfoot td,
tfoot th {
  vertical-align: top;
  border-top: 1px solid rgba(var(--color-text), 0.1);
  padding-top: 0.75rem;
  font-size: 0.75rem;
  font-weight: 600;
}

textarea,
input[type="number"] {
  --scale: 0.875;

  --scaledWidth: calc(100% * (1 / var(--scale)));
  --scaledHeight: calc(--height * (1 / var(--scale)));

  display: block;
  box-sizing: border-box;
  font-size: 1rem;
  border: 0;
  margin: 0;
  padding: 0;
  background: transparent;
  border-radius: 0;
  width: var(--scaledWidth);
  height: var(--scaledHeight);
  line-height: var(--scaledHeight);
  text-align: center;
  resize: none;

  /* fix iOS zooming */
  transform-origin: top left;

  --offset: calc((1 - var(--scale)) * var(--height) * 0.5);
  transform: translate(0, var(--offset)) scale(var(--scale));
}

textarea {
  overflow: hidden;
  height: calc(var(--height) * var(--lines));
  margin-bottom: calc((var(--height) * var(--lines)) * (1 - var(--scale)) * -1);
}

textarea:focus,
input[type="number"]:focus {
  outline: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea::placeholder,
input::placeholder {
  color: rgba(var(--color-text), 0.2);
}

input[type="number"] {
  -moz-appearance: textfield;
}

fieldset {
  position: absolute;
  left: 0;
  right: 0;
  border: 0;
  margin: 0;
  padding: 0;
}

/* score preset selection */

tr.presets[data-active="false"] {
  display: none;
}

tr.presets:last-of-type div {
  margin-bottom: 1rem;
}

.presets div {
  display: flex;
}

.presets div[data-active="false"] {
  display: none;
}

.preset {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preset label {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: 600;
  cursor: pointer;
}

.preset input {
  display: none;
}

/* scores */
.score {
  background: rgba(var(--color-text), 0.05);
  overflow: hidden;
}

.score label {
  padding: 0.75rem 0;
}

.score input:checked + label {
  color: rgba(var(--color-background), 1);
  background: rgba(var(--color-text), 1);
}

.score + .score {
  margin-left: 2px;
}

.score:first-of-type {
  border-radius: 999rem 0 0 999rem;
}

.score:last-of-type {
  border-radius: 0 999rem 999rem 0;
}

/* table */
.table-wrapper {
  overflow: hidden;
}

/* avatars */
.avatar label {
  padding: 0.325rem 0.325rem 0.5rem;
}

.avatars div {
  background: rgba(var(--color-text), 0.05);
  border-radius: 999rem;
}

.avatar input[disabled] + label img {
  opacity: 0.25;
  filter: grayscale(1);
  pointer-events: none;
}

.avatar-placeholder {
  opacity: 0.5;
  filter: grayscale(1);
}
