:root {
  --color: 0, 170, 245;
  --color-dark: 10, 70, 110;

  font-family: sans-serif;
}

html {
  background-color: rgb(var(--color-dark));
}

html,
body {
  padding: 0;
  margin: 0;
}

table {
  width: 100%;
  background-color: #fff;
  border-collapse: collapse;
  table-layout: fixed;
  border-bottom: 1px solid rgba(var(--color), 0.25);
}

/* tr:nth-child(even) {
  background: rgba(var(--color), 0.1);
} */

tfoot th,
tfoot td,
thead th,
thead td {
  padding: 0.5rem 0.375rem;
}

thead th,
thead td {
  text-align: center;
}

th,
td {
  white-space: nowrap;
  font-size: 0.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(var(--color-dark));
  position: relative;
}

tbody tr > th,
tbody tr > td {
  border-bottom: 1px solid rgba(var(--color), 0.1);
  border-right: 1px solid rgba(var(--color), 0.25);
}

tbody tr[data-active="false"] {
  display: none;
}

tbody td {
  padding: 0;
}

tbody th {
  padding-left: 0.5rem;
}

thead th,
thead td {
  border-bottom: 1px solid rgba(var(--color), 0.25);
}

tfoot th,
tfoot td {
  border-top: 1px dashed rgba(var(--color), 0.25);
}

tfoot td {
  font-family: courier;
  font-weight: bold;
}

tbody th {
  font-weight: normal;
}

tfoot th,
tbody th {
  text-align: left;
}

input[type="number"],
tfoot td {
  font-size: 1rem;
  font-family: courier;
  font-weight: bold;
  text-align: right;
  padding: 0 0.5rem 0 0;
  color: rgb(var(--color-dark));
}

tfoot {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}

input[type="number"] {
  box-sizing: border-box;
  width: 100%;
  border: 0;
  background: transparent;
  margin: 0;
  line-height: 2.5rem;
}

input[type="number"]:hover {
  background: rgba(var(--color), 0.2);
}

input[type="number"]:focus {
  background: #fff;
  box-shadow: inset 0 -0.25rem 0 0 rgba(var(--color), 0.2);
  outline: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

fieldset {
  position: absolute;
  left: 0;
  right: 0;
  border: 0;
  margin: 0;
  padding: 0;
}

.presets {
  background: rgba(var(--color), 0.2);
}

.presets th,
.presets td {
  border-top: 1px solid rgba(var(--color), 0.1);
}

.presets div {
  display: flex;
}

.presets div[data-active="false"] {
  display: none;
}

.preset {
  flex: 1;
}

.preset input {
  display: none;
}

.preset label {
  display: block;
  padding: 0.5rem 0;
  font-size: 1rem;
  font-family: courier;
  font-weight: bold;
  text-align: center;
}

.preset input:checked + label {
  color: white;
  background: rgb(var(--color-dark));
}

.controls {
  display: flex;
  align-items: center;
  padding: 0.5em;
  font-size: 0.875rem;
  background: rgb(var(--color-dark));
  color: #fff;
}

.controls select {
  width: auto;
}

.controls select:first-child {
  margin-right: auto;
}

.controls button {
  margin-left: auto;
}

.controls button,
.controls select {
  font-size: 0.875rem;
  border-radius: 0.25rem;
  background: transparent;
  color: #fff;
  border: 0;
}

.controls select:focus,
.controls button:focus {
  background: rgba(255, 255, 255, 0.25);
  outline: 0;
}
